@import 'reset';
@import 'vars';
@import 'mixins';
@import 'partials/my-reset';
@import 'partials/custom-inputs';
@import 'partials/forms';
@import 'partials/_header';
@import 'partials/_footer';

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.go-top {
  @include block(50px);

  transition: opacity .3s ease, right .3s ease;
  position: fixed;
  bottom: 50px;
  right: -50px;
  background: $colorBlue;
  border-radius: 50%;
  cursor: pointer;
  opacity: .001;
  z-index: 100;
  box-shadow: 0 0 10px 10px #fff;
  font-size: 22px;

  &:before {
    content: '▲';
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
  }

  &.visible {
    opacity: .99;
    right: 50px;

    &:hover {
      opacity: .8;
    }
  }
}

.site-width {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

main {
  @include flex();
  @include flex-justify();

  position: relative;
  margin: 0 auto 120px auto;

  aside {
    @include flex-order(1);

    width: 370px;
  }

  section {
    @include flex-order(0);

    width: 700px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.font-accent {
  font-family: $fontAccent;
  color: #999;
}

a.font-accent {
  color: $colorBlue;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 43px;
}

h6 {
  position: relative;
  margin-bottom: 23px;
  line-height: 2.15em;
  color: #000;

  &:before {
    @include block(100%, 1px);
    @include gradient(#dddddd, #0055bb, 50%);

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &.no-underline:before {
    display: none;
  }
}

article {
  margin-bottom: 110px;

  h5 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.2;
  }

  .font-title {
    h5 {
      float: left;
    }
  }

  .font-accent {
    font-size: $fontSmall;
  }

  .font-sample {
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  .version {
    line-height: 43px;
    vertical-align: bottom;
    white-space: nowrap;
  }

  .font-detail-link {
    &:hover {
      text-decoration: none;

      i {
        color: $colorBlueDark;
      }
    }

    & span:hover {
      text-decoration: underline;
      color: $colorBlueDark;
    }
  }

  .params-line {
    @include flex();
    @include flex-justify();
    @include flex-align();

    .params,
    .params-link {
      width: 50%;
    }

    .params-link {
      text-align: right;
      white-space: nowrap;

      .font-downloads {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .params {
    .params-title {
      margin-bottom: 5px;
      font-size: $fontNormal;
    }

    .param {
      white-space: nowrap;
      font-size: $fontSmall;
    }
  }
}

.font-list-wrapper {
  .font-list {
    @include trans(max-height);

    position: relative;
    font-size: $fontSmall;
    max-height: 730px;
    overflow: hidden;

    .font-list-gradient {
      @include block(100%, 40px);
      @include trans(height);

      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      cursor: pointer;
      background: none;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    }

    a {
      position: relative;
      display: block;
      margin: 7px 0 10px 22px;

      &:before {
        @include block(16px);
        @include trans(opacity);

        content: '';
        position: absolute;
        top: 2px;
        left: -22px;
        background: url('/static/img/font-ico.png') 50% 50% no-repeat;
        opacity: .99;
      }

      &:hover:before {
        opacity: .7;
      }
    }
  }

  .font-link {
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: $fontSmallest;
    cursor: pointer;
  }

  &.visible {
    .font-list {
      max-height: 2000px;

      .font-list-gradient {
        height: 0;
      }
    }
  }
}

.preview-page {
  .fonts-found {
    position: relative;
    top: -40px;
    text-align: right;
    font-size: $fontSmall;
  }
}

.detail-page {
  .detail-page-info {
    margin-bottom: 30px;
    font-size: $fontSmallest;

    .back-link {
      padding-bottom: 35px;
    }

    .more-text {
      @include trans(max-height);

      max-height: 0;
      overflow: hidden;
    }

    &.visible .more-text {
      max-height: 600px;
    }
  }

  .stat {
    @include flex();
    @include flex-justify();

    margin-bottom: 70px;
    font-size: $fontSmall;
    white-space: nowrap;

    .stars {
      position: relative;

      .back,
      .front {
        overflow: hidden;
        height: 16px;
        white-space: nowrap;
        font-size: 0;
      }

      .back {
        color: #ccc;
      }

      .front {
        position: absolute;
        width: 70%;
        color: $colorBlue;
      }

      .fa-star {
        font-size: $fontSmall;
      }
    }
  }

  .random-fonts {
    padding-top: 50px;
    font-size: $fontSmall;

    a {
      display: inline-block;
      margin: 0 40px 10px 0;
    }
  }
}

@import 'partials/responsive/w1000';
@import 'partials/responsive/w750';
@import 'partials/responsive/w420';
@import 'partials/responsive/w320';
