header {
  margin-bottom: 90px;

  .logo {
    float: left;
    margin: 30px 0 0 20px;
    white-space: nowrap;

    a {
      @include trans(opacity);

      display: inline-block;
      opacity: .99;
      letter-spacing: .02em;
      font-weight: 700;
      font-size: $fontNormal;
      color: #000;
      text-transform: uppercase;

      img {
        vertical-align: middle;
        margin-right: 5px;
        width: 62px;
      }

      &:hover {
        opacity: .75;
        text-decoration: none;
      }
    }
  }

  nav {
    text-transform: uppercase;
    text-align: right;
    padding: 40px 0;

    a {
      line-height: 1.3;
      letter-spacing: .02em;
      font-weight: 700;
      margin-right: 20px;
      color: #555;

      & + a {
        margin-left: 30px;
      }

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .top-image {
    position: relative;
    height: 250px;
    max-width: 1600px;
    margin: auto;
    text-align: center;
    background: url('/static/img/top-bg.jpg') 50% 50% no-repeat;
    padding: 30px;

    &:before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .6);
    }

    .top-image-inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 50px;
      z-index: 20;
      color: #fff;
      width: 1000px;
      margin: auto;
      font-size: $fontSmallest;
      line-height: 1.7em;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
