/* Custom checkbox & radio */
$colorWhite: #fff;
$colorLightGrey: #e6e6e6;
$colorGrey: #ccc;
$colorDarkGrey: #7b7b7b;
$colorPrimary: $colorBlue;
$colorSecondary: $colorBlueDark;

.custom-control {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: $fontSmall;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  span {
    cursor: pointer;

    small {
      position: relative;
      top: -7px;
      font-size: $fontSmallest;
    }
  }
}

.custom-control-indicator {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $colorLightGrey;
  border-radius: 3px;

  .custom-control-radio & {
    border-radius: 50%;
  }

  .custom-control:hover input ~ &,
  .custom-control input:focus ~ & {
    background: $colorGrey;
  }

  .custom-control input:checked ~ & {
    background: $colorPrimary;
  }

  .custom-control:hover input:not([disabled]):checked ~ &,
  .custom-control input:checked:focus ~ & {
    background: $colorSecondary;
  }

  .custom-control input:disabled ~ & {
    background: $colorLightGrey;
    opacity: .6;
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    display: none;

    .custom-control input:checked ~ & {
      display: block;
    }

    .custom-control-checkbox & {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: 0 solid $colorWhite;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    .custom-control-radio & {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: $colorWhite;
    }

    .custom-control-radio input:disabled ~ & {
      background: $colorDarkGrey;
    }
  }
}

/* select2 */
.select2-container {
  font-size: $fontSmall;

  .select2-selection--single {
    height: 30px;
  }
}

.select2-results__option {
  padding: 3px 9px;
}
