input,
textarea,
button {
  box-sizing: border-box;
  transition: color .3s ease, border .3s ease, background-color .3s ease;
}

input,
textarea {
  box-sizing: border-box;

  &:active,
  &:focus {
    border-color: #666 !important;
    color: #666 !important;
  }

  &.has-error {
    border-color: #c33 !important;
  }
}

input[type="submit"] {
  @include inline-block(170px, 50px);

  background: #05b;
  border-radius: 10px;
  border: 0;
  text-align: center;
  line-height: 46px;
  color: #fff;

  &:hover,
  &:active,
  &:focus {
    background: $colorBlueDark;
    color: #fff !important;
  }
}

.text-error {
  color: #c33;

  & > div {
    margin-bottom: 5px;

    &:before {
      content: '•';
      margin-right: 7px;
    }
  }
}

.text-success {
  color: #33c;
}

.text-expand {
  max-height: 0;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 14px;
  transition: max-height .3s ease, margin-bottom .3s ease;

  &.visible {
    max-height: 150px;
    margin-bottom: 35px;
  }
}

.form-section {
  position: relative;
  margin-bottom: 45px;

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px 60px 10px 15px;
    color: #aaa;
    font-size: $fontNormal;
  }

  textarea {
    height: 200px;
    border-radius: 10px 0 0 10px;
  }

  &.form-section-input {
    button {
      @include block(50px);

      font-family: 'FontAwesome', sans-serif;
      position: absolute;
      top: 0;
      right: 0;
      background: $colorBlue;
      border-radius: 10px;
      border: 0;
      text-align: center;
      line-height: 46px;
      color: #fff;
    }

    &:hover input[type="text"],
    &:hover input[type="email"] {
      border-color: #666;
      color: #666;
    }

    &:hover button,
    button:active,
    button:focus {
      background: $colorBlueDark;
      color: #fff;
    }
  }

  .form-section-group {
    @include flex();

    margin-bottom: -10px;

    label {
      @include flex-grow(2);

      .no-flexbox.no-flexboxlegacy & {
        float: left;
      }

      width: 49.9%;
    }
  }

  .select-wrapper {
    position: absolute;
    left: 80px;
    top: 9px;
    width: 200px;
    font-size: $fontSmall;

    select {
      width: 100%;
    }
  }

  .reset-link {
    position: relative;
    top: 10px;
    float: left;
    font-size: $fontNormal;
    border-bottom: 1px dashed $colorBlue;

    &:hover {
      text-decoration: none;
      border-bottom: none;
    }
  }

  &.form-section-submit {
    text-align: right;
    overflow: hidden;
  }
}

.font-filter {
  margin-bottom: 40px;

  .hidden-fields {
    @include trans(max-height);

    max-height: 0;
    overflow: hidden;
  }

  &.visible .hidden-fields {
    max-height: 1000px;
  }

  .filter-link {
    position: relative;
    top: 13px;
    right: -10px;
    z-index: 50;
    float: right;
    display: inline-block;
    padding: 5px 10px;
    font-size: $fontSmallest;
    cursor: pointer;
  }
}

.form-hint {
  text-align: right;
  font-size: $fontSmallest;
}
