@media (max-width: 1199px) {
  body {
    font-size: 20px;
  }

  .go-top.visible {
    right: 20px;
  }

  header .top-image .top-image-inner {
    width: 100%;
    padding: 0 60px;
  }

  main section {
    width: 66.5%;
    padding-left: 5px;
  }

  main aside {
    width: 28%;
    padding-right: 5px;
  }

  h1 {
    font-size: 30px;
  }

  article h5 {
    font-size: 25px;
  }

  .custom-control {
    font-size: 13px;
  }

  .custom-control span small {
    font-size: 11px;
  }

  .form-section input[type="text"],
  .form-section input[type="email"],
  .form-section textarea {
    font-size: 16px;
  }

  .form-section input[type="text"],
  .form-section input[type="email"] {
    height: 40px;
  }

  .form-section.form-section-input button {
    @include block(40px);

    line-height: 41px;
  }

  .form-section .select-wrapper {
    left: 70px;
  }

  input[type="submit"] {
    height: 40px;
    line-height: 36px;
    font-size: 18px;
  }

  .form-section .reset-link {
    font-size: 16px;
  }

  .font-filter .filter-link {
    right: -5px;
  }
}
